
* {
    box-sizing: border-box;
}
h1 {
    font-family: 'Noto Serif', serif;
    margin-top: 0;
    padding-top: 12px;
    margin-bottom: 5px;
    font-size: 32px;
    letter-spacing: 5px;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 15px;
    word-spacing: 4px;
}
header hr{
    width: 60%;
    min-width: 300px;
    border-color: #FEFFFF;
}
hr {
    border-color: #FEFFFF;
}
header {
    color: #FEFFFF;
    margin: 0;
    font-size: 0;
    background-color: #303B3F;
}


main {
    padding: 0 15px;
}
body {
    background-color: #878D8F;
    color: #FEFFFF;
    min-width: 260px;
    max-width: 620px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border: #FEFFFF 1px solid;
    
}
ul{
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    text-align: left;
    list-style: none;
    padding-left: 0;
   
}
img {
    max-width: 80%;
    transition: 0.3s;
}
img:hover {
    opacity: .5;
}
.headLine {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    font-size: 1.2em;
    text-decoration: underline;
}
address>ul>li{
    text-align: center;
}
address a {
    margin-left:20px;
    margin-right:30px;
}

a{
    color:#FEFFFF;
    transition: 0.3s;
}
a:hover {
    color:rgb(189, 189, 189)
}

address img {
    height: 32px;
    width: auto;
    filter: invert(100%);
}
.bottom {
        display: block;
}
li>p>a {
    font-size: 20px;
}
@media (min-width: 450px) {
    body {
        background-color: #878D8F;
        color: #FEFFFF;
        min-width: 320px;
        max-width: 620px;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        border: #FEFFFF 1px solid;
        
    }
    img {
        width: 320px;
        transition: 0.3s;
    }
    main ul{
        font-family: 'Roboto', sans-serif;
        line-height: 140%;
        margin-right:auto;
        margin-left:auto;
        text-align: left;
        list-style: none;
        padding-left: 25px;
        padding-right: 25px;
       
    }
}

@media (min-width: 820px) {
    body{
        min-width: 700px;       
    }
}

@media (min-width: 1280px) {
    .projects{
        margin-bottom: 75px;
    }
    .bottom {
        display: none;
    }
    .contact {
        display: none;
    }
    body {
        max-width: 1000px;
        display: flex;
    }
    main ul{
        line-height: 150%;
        
    }
    header {
        width: 380px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: #FEFFFF solid 1px;
    }
    .hero {
        position: fixed;
        top: 300px;
    }
    .aboutMe{
        margin-top: 50px;
    }
    main {
        width: 620px;
    }
    address ul {
        list-style: none;
        padding-left: 20px;
        margin-top: 50px;
    }
    .footer p {
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    .footer li {
        text-align: left;
        padding-bottom: 15px;
    }
    address a {
        margin-left:50px;
        margin-right:10px;
    }
    img {
        width: 400px;
    }
    
    
}